# Assignment Day 6 | 13th July 2020

Question 1:

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [3]:
print(input().split("@")[1].split(".")[0])

basha132@gmail.com
gmail

Question 2:
    
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [4]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsroot, mat, jacket, basket
 basket, jacket, mat,root

Question 3:
    
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Create a Set:

In [5]:
cricket = {"bat", "ball", "stump"}
print(cricket)

{'bat', 'ball', 'stump'}

Access Items

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [6]:
cricket = {"bat", "ball", "stump"}

for x in cricket:
    print(x)

bat
ball
stump

Change Items

Once a set is created, you cannot change its items, but you can add new items.

In [7]:
cricket = {"bat", "ball", "stump"}

cricket.add("shoe")

print(cricket)

{'bat', 'ball', 'stump', 'shoe'}

Get the Length of a Set

To determine how many items a set has, use the len() method.

In [8]:
cricket = {"bat", "ball", "stump", "shoe"}

print(len(cricket))

4

Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [9]:
cricket = {"bat", "ball", "stump", "shoe"}

cricket.remove("shoe")

print(cricket)

{'bat', 'ball', 'stump'}

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items
from both sets, or the update() method that inserts all the items from one set into another:

In [10]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 'a', 1, 2, 3, 'b'}

The update() method inserts the items in set2 into set1:

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 'a', 1, 2, 3, 'b'}

Question 4:
    
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [12]:
# getMissingNo takes list as argument 
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 
  
# Driver program to test the above function 
A = [1, 2, 3, 4, 6] 
miss = int(getMissingNo(A)) 
print(miss)

5

Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35
.

In [13]:
list1 = [10, 20, 10, 20, 30, 40, 30, 50]

list2 = []

for n in list1:
    if n not in list2:
        list2.append(n)

print("Original list")
print("list1: ", list1)
print("List after removing duplicate elements")
print("list2: ", list2)

Original list
list1:  [10, 20, 10, 20, 30, 40, 30, 50]
List after removing duplicate elements
list2:  [10, 20, 30, 40, 50]